<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<property name="LOGS" value="log" />
	<appender name="Console"
		class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>[%-5level] %d{HH:mm:ss.SSS} [%thread] %logger{36} - %msg%n</pattern>
		</layout>
	</appender>
	<appender name="RollingFile"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOGS}/logback.log</file>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>[%-5level] %d{HH:mm:ss.SSS} [%thread] %logger{36} - %msg%n</pattern>
		</layout>
		<rollingPolicy
			class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<fileNamePattern>${LOGS}/service_%d{yyyy-MM-dd}.%i.log
			</fileNamePattern>
			<maxFileSize>1MB</maxFileSize>
			<maxHistory>2</maxHistory>
			<totalSizeCap>5GB</totalSizeCap>
		</rollingPolicy>
	</appender>
	<root level="info">
		<appender-ref ref="RollingFile" />
		<appender-ref ref="Console" />
	</root>
</configuration>